{% load static %}
{% block footer %}
<footer id="main-footer" class="bg-dark py-4">
  <div class="row text-center">
     <div class="col-md-12">
        <a href="#" class="text-light mr-4">Privacy Policy</a>
        <a href="#" class="text-light mr-4">Contact</a>
        <a href="#" class="text-light">Terms & Condition</a>
     </div>
  </div>
   <div class="row text-center">
   <div class="col-md-12 text-light text-muted" style="font-size: small;">
           Copyright &copy;
           <span id="year"></span>
        </div>
   </div>
</footer>
{% endblock %}
