{% load static %}
{% block head %}
<head>
   <!-- Required Meta tag -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Fontawesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- Favicon and title of the page -->
   <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
   <title>Downloader | All the videos you need, You can download </title>

</head>
{% endblock %}
